@{
    ViewData["Title"] = "DownloadFile";
}

<!doctype html>
<html>
<head>
    <title>LR7</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>File Download</h1>
    <h3>Please, input following data to start</h3>
    <form method="post">
        <p>
            <label>Name:</label><br />
            <input type="text" name="Name" required />
        </p>
        <p>
            <label>Surname:</label><br />
            <input type="text" name="Surname" required />
        </p>
        <p>
            <label>FileName:</label><br />
            <input type="text" name="FileName" required />
        </p>
        <p>
            <input type="submit" value="send!" />
        </p>
    </form>
</body>
</html>