@{
    Layout = null;
}

<!doctype html>
<html>
    <head>
        <title>LR5</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form method="post">
            <p>
                <label>Time:</label><br/>
                <input type="datetime" name="Time"/>
            </p>
            <p>
                <label>Data:</label><br />
                <input type="text" name="Data" />
            </p>
            <p>
                <input type="submit" value="send!"/>
            </p>
        </form>
    </body>
</html>