@model LR12.Models.UserModel

<h2>Create user</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name">Name</label><br/>
        <input type="text" asp-for="Name"/>
    </p>
    <p>
        <label asp-for="Surname">Surname</label><br />
        <input type="text" asp-for="Surname" />
    </p>
    <p>
        <label asp-for="Age">Age</label><br />
        <input type="text" asp-for="Age" />
    </p>
    <input type="submit" value="Send">
</form>