@model LR12.Models.CompanyModel

<h2>Edit user</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Name</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Workers">Workers</label><br />
        <input type="text" asp-for="Workers" />
    </p>
    <input type="submit" value="Save">
</form>