@{
    ViewData["Title"] = "Main";
}

<!doctype html>
<html>
<head>
    <title>LR6</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Pizza Delievery</h1>
    <h3>How many pizzas do you want to order?</h3>
    <form method="post">
        <p>
            <label>Pizza count:</label><br />
            <input type="text" name="Count" required />
        </p>
        <p>
            <input type="submit" value="send!" asp-controller="Home" asp-action="OrderBegin" />
        </p>
    </form>
</body>
</html>
